.container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Arial", sans-serif;
  color: #333;
}

h1 {
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#force-graph-section {
  font-family: "Arial", sans-serif;
  color: #333;
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}

#force-graph-section #sidebar {
  width: 100%;
  padding: 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  overflow-y: auto;
  flex-shrink: 0;
  margin-bottom: 1rem;
}

#force-graph-section #sidebar div {
  margin-bottom: 15px;
}

#force-graph-section #sidebar label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#force-graph-section #sidebar input[type="range"] {
  width: calc(100% - 45px);
  vertical-align: middle;
}

#force-graph-section #sidebar #nodeCountValue {
  font-weight: bold;
  margin-left: 10px;
  display: inline-block;
  width: 30px;
  text-align: right;
  vertical-align: middle;
}

#force-graph-section #vis-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}

#force-graph-section #force_graph svg {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#tooltip {
  position: absolute;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  pointer-events: none;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.hidden {
  display: none !important;
}
